.stat-card {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 50px;
  font-family: sans-serif;
 
}

.stat-info {
  padding: 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-title {
  font-weight: bold;
  color: black;
  font-size: 17px;
}

.stat-percentage {
  font-size: 11px;
  opacity: 0.8;
   font-size: 12px
}

.stat-value-container {
  background-color: white;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border: 5px solid rgb(255, 255, 255);
   flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-value {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
